<!-- Our Footer -->
<section class="footer-style1 pt60 pb-0 section">
    <div class="container">
        <div class="row bb-white-light pb30 mb60">
            <div class="col-sm-5">
                <div class="footer-widget text-center text-sm-start">
                    <a class="footer-logo" href="/"><img src="/images/logo/logo-white.png" style="max-width: 200px;"
                            alt=""></a>
                </div>
            </div>
            <div class="col-sm-7" style="display: flex; justify-content: end; align-items: center;">
                <div class="social-widget text-center text-sm-end">
                    <div class="social-style1">
                        <a class="text-white me-2 fw600 fz15" href="">Follow us</a>

                        <!-- Social Icons -->
                        <a href="https://www.youtube.com/@SKYDECORINDIA" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-youtube"></i></a>
                        <a href="https://in.linkedin.com/company/skydecor" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://x.com/Skydecor_india" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-x-twitter"></i></a>
                        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/skydecorindia/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i></a>
                        <a href="https://alvo.chat/3Ijc" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-whatsapp"></i></a>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <div class="link-style1 mb-3">
                            <h6 class="text-white mb-4">Design Ideas</h6>
                            <ul class="ps-0">
                                <li><a href="/application/bedroom-design-laminates">Bedroom</a></li>
                                <li><a href="/application/kids-room-design">Kids Room</a></li>
                                <li><a href="/application/office-design-laminates">Office</a></li>
                                <li><a href="/application/living-room-design">Living Room</a></li>
                                <li><a href="/application/kitchen-design-laminates"> Kitchen </a></li>
                                <li><a href="/application/wardrobs-design"> Wardrobs</a></li>
                                <li><a href="/application/tv-unit-design"> TV Unit </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="link-style1 mb-3">
                            <h6 class="text-white mb-4">Quick Links</h6>
                            <ul class="ps-0">
                                <li><a href="/"> Home </a></li>
                                <li><a href="/about-us"> About us</a></li>
                                <li><a href="/career"> Career </a></li>
                                <li><a href="/events"> Events </a></li>
                                <li><a href="/contact">Contact us</a></li>
                                <li><a href="/blogs"> Blogs</a></li>
                                <li><a href="/certificates"> Certificates</a></li>
                                <li><a href="/privacy-policy">Privacy and Policy </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="link-style1 mb-3">
                            <h6 class="text-white mb-4">Product CATEGORIES</h6>
                            <ul class="ps-0 ">
                                <li><a href="/products/page/PVC">Fr Flexi Laminates </a></li>
                                <li><a href="/products/page/Acrylic"> Acrylic Laminates</a></li>
                                <li><a href="/products/page/liner">Liner Laminates </a></li>
                                <li><a href="/products/page/1mm"> 1 mm+ Laminates </a></li>
                                <li><a href="/products/page/0.8mm"> 0.8mm Laminates </a></li>
                                <li><a href="/products/page/SOFFITTO">Soffitto Panels </a></li>
                                <li><a href="/products/page/SOFFITTO">Exterior Cladding </a></li>
                                <li><a href="/products/page/SOFFITTO">Baffele </a></li>
                                <li><a href="/products/page/SOFFITTO">Skybond adhesive</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-lg-2">
                <div class="footer-widget mb-4 mb-lg-5">
                    <div class="row mb-4 mb-lg-5">
                        <div class="col-auto">
                            <div class="contact-info">
                                <p class="info-title">Customer Care</p>
                                <h6 class="info-phone"><a href="tel:+91 8800777731">+91 8800777731</a></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="contact-info">
                                <p class="info-title">Nee Live Support?</p>
                                <h6 class="info-mail"><a href="mailto:info@skydecor.in">info@skydecor.in</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="footer-widget mb-4 mb-lg-5">
                        <div class="mailchimp-widget mb-4 mb-lg-5">
                            <h6 class="title text-white mb20">Keep Yourself Up to Date</h6>
                            <div class="mailchimp-style1 white-version">
                                <input type="email" class="form-control" placeholder="Your Email">
                                <button type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="app-widget">
                        <h5 class="title text-white mb20 text-uppercase">Skydecor Bandhu</h5>
                        <div class="row mb-4 mb-lg-5">

                            <div class="col-lg-12">
                                <a href="https://play.google.com/store/apps/details?id=com.skydecorcarpenter&pcampaignid=web_share"
                                    target="_blank">
                                    <div class="app-info d-flex align-items-center mb10">
                                        <div class="flex-shrink-0">
                                            <i class="fab fa-google-play fz30 text-white"></i>
                                        </div>
                                        <div class="flex-grow-1 ml20">
                                            <p class="app-text fz13 mb0">Get in on</p>
                                            <h6 class="app-title text-white fz14">Google Play</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container white-bdrt1 py-4">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center text-lg-start">
                    <p class="copyright-text text-white ff-heading text-white text-uppercase">© Skydecor - All rights
                        reserved</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center text-lg-end">
                    <p class="footer-menu ff-heading text-white"><a class="text-white" href="#">Privacy</a> · <a
                            class="text-white" href="#">Terms</a> · <a class="text-white" href="#">Sitemap</a></p>
                </div>
            </div>
        </div>
    </div>


</section>






<style>
    .pt60 {
        padding-top: 60px !important;
    }

    .pb30 {
        padding-bottom: 30px !important;
    }

    .mb60 {
        margin-bottom: 60px !important;
    }

    .mb0 {
        margin-bottom: 0 !important;
    }

    .ml20 {
        margin-left: 20px !important;
    }

    .mb20 {
        margin-bottom: 20px !important;
    }

    .fz30 {
        font-size: 30px !important;
    }

    .fz14 {
        font-size: 14px;
    }

    .section {
        padding: 120px 0;
        position: relative;
    }

    .bb-white-light {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }


    .footer-style1 {
        background-color: #333;
    }

    .footer-style1.at-home2 {
        padding-top: 230px;
    }

    .footer-style1.at-home4 {
        background-color: #ffffff;
    }

    .footer-style1.at-home6 {
        background-color: transparent;
        background-image: url(../images/home/footer-bg-6.jpg);
        background-size: cover;
    }

    .footer-widget {
        position: relative;
    }

    .footer-widget .info-title {
        color: #BEBDBD;
        font-family: var(--title-font-family);
        margin-bottom: 5px;
    }

    .footer-widget .info-phone a,
    .footer-widget .info-mail a {
        color: #ffffff;
    }

    .footer-widget.light-style .info-phone a,
    .footer-widget.light-style .info-mail a {
        color: var(--headings-color);
        font-family: var(--title-font-family);
        font-weight: 600;
    }

    .app-widget {
        position: relative;
    }

    .app-widget .app-info {
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 12px;
        padding: 10px 20px 2px;
        width: 210px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .app-widget .app-info:hover {
        background-color: #EB6753;
    }

    .app-widget .app-info.light-style {
        background-color: #181A20;
    }

    .app-widget .app-info.light-style:hover {
        background-color: #EB6753;
    }

    .app-widget .app-info.light-style:hover .app-text {
        color: #ffffff;
    }

    .app-widget .app-text {
        color: #BEBDBD;
    }

    .app-widget.at-home6 .app-info {
        background-color: #0D1C39;
        padding: 8px 20px 10px;
    }

    .app-widget.at-home6 .app-info .flex-shrink-0 {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding-right: 20px;
    }

    .app-widget.at-home6 .app-info .flex-grow-1 {
        padding-left: 20px;
    }

    .app-widget.at-home6 .app-info .app-text {
        color: #ffffff;
    }

    .app-widget.at-home7 .app-info {
        border-radius: 0;
    }

    .mailchimp-style1 {
        position: relative;
    }

    .mailchimp-style1 .form-control {
        background-color: rgba(255, 255, 255, 0.04);
        border: none;
        border-radius: 12px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        height: 70px;
        padding-left: 30px;
    }

    .mailchimp-style1 .form-control:placeholder {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
    }

    .mailchimp-style1 .form-control:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

    .mailchimp-style1 button {
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-family: var(--title-font-family);
        font-size: 15px;
        font-weight: 600;
        position: absolute;
        right: 25px;
        top: 20px;
    }

    .mailchimp-style1.white-version .form-control {
        background-color: #ffffff;
    }

    .mailchimp-style1.white-version .form-control:placeholder {
        color: var(--headings-color);
        font-size: 14px;
        font-weight: 400;
    }

    .mailchimp-style1.white-version button {
        font-size: 15px;
        color: var(--headings-color);
        font-family: var(--title-font-family);
        font-weight: 600;
    }

    .mailchimp-style1.at-home4 {
        border-radius: 12px;
        border: 1px solid #DDDDDD;
    }

    .mailchimp-style1.at-home4 .form-control {
        height: 60px;
    }

    .mailchimp-style1.at-home4 button {
        background-color: var(--headings-color);
        border-radius: 50%;
        color: #ffffff;
        display: block;
        height: 40px;
        line-height: 35px;
        right: 10px;
        top: 10px;
        width: 40px;
    }

    .mailchimp-style1.at-home7 {
        border: 1px solid #DDDDDD;
        border-radius: 0;
    }

    .mailchimp-style1.at-home7 .form-control {
        height: 60px;
    }

    .mailchimp-style1.at-home7 button {
        background-color: var(--headings-color);
        border-radius: 0;
        color: #ffffff;
        display: block;
        height: 40px;
        line-height: 35px;
        right: 10px;
        top: 10px;
        width: 40px;
    }

    .mailchimp-style1.at-home9 {
        border: 1px solid #DDDDDD;
        border-radius: 12px;
    }

    .mailchimp-style1.at-home9 .form-control {
        height: 70px;
    }

    .mailchimp-style2 {
        position: relative;
    }

    .mailchimp-style2 .form-control {
        background-color: #ffffff;
        border: none;
        border-radius: 12px;
        color: var(--headings-color);
        font-size: 14px;
        font-weight: 400;
        height: 70px;
        padding-left: 30px;
    }

    .mailchimp-style2 .form-control:placeholder {
        color: var(--headings-color);
        font-size: 14px;
        font-weight: 400;
    }

    .mailchimp-style2 .form-control:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

    .mailchimp-style2 button {
        height: 50px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .link-style1 a {
        color: #BEBDBD;
        display: block;
        font-family: var(--title-font-family);
        line-height: 40px;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .link-style1 a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    .link-style1.light-style a {
        color: var(--headings-color);
        font-family: var(--title-font-family);
        font-weight: 400;
    }

    .link-style1.at-home9 a:hover {
        color: #EB6753;
    }





    .white-bdrt1 {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .link-style1 a {
        color: #BEBDBD;
        display: block;
        font-family: var(--title-font-family);
        line-height: 35px;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        text-transform: capitalize;
    }

    .link-style1 a:hover {
        color: #ffffff;
        text-decoration: underline !important;
    }

    .footer-widget {
        position: relative;
    }

    .footer-widget .info-title {
        color: #BEBDBD;
        font-family: var(--title-font-family);
        margin-bottom: 5px;
    }

    .footer-widget .info-phone a,
    .footer-widget .info-mail a {
        color: #ffffff;
    }

    .footer-widget .info-title {
        color: #BEBDBD;
        font-family: var(--title-font-family);
        margin-bottom: 5px;
    }

    .footer-widget .info-phone a,
    .footer-widget .info-mail a {
        color: #ffffff;
    }

    .app-widget .app-info {
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 12px;
        padding: 10px 20px 2px;
        width: 210px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }



    .social-style1 i {
        color: #BEBDBD;
        border-radius: 50%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }


    .app-widget .app-text {
        color: #BEBDBD;
    }

    .social-style1 i:hover {
        background-color: rgb(0 100 158);
        color: #ffffff;
    }

    .app-widget .app-info:hover {
        background-color: rgb(0 100 158) !important;
    }

    .link-style1 h6 {
        text-transform: uppercase;
        font-size: 18px;
    }
</style>