

<% 
  const productRange = [
    {
      name: "1 MM + Laminates",
      link: "/products/page/1mm",
      img: "/images/product-category/1mm/371 X 418/1MM.jpg",
      alt: "1 MM + Laminates",
    },
    {
      name: "0.8MM Laminates",
      link: "/products/page/0.8mm",
      img: "/images/product-category/0.8mm/371 X 418/0.8MM.jpg",
      alt: "0.8MM Laminates",
    },
    {
      name: "Acrylish Laminate",
      link: "/products/page/Acrylish",
      img: "/images/product-category/acrylish/371 X 418/Acrylic.jpg",
      alt: "Acrylish Laminate",
    },
    {
      name: "FR FLEXI Laminate",
      link: "/products/page/PVC",
      img: "/images/product-category/fr-flexi/371 X 418/FR FLEXI.jpg",
      alt: "FR FLEXI Laminate",
    },
    {
      name: "Liner Laminate",
      link: "/products/page/liner",
      img: "/images/product-category/liner/371 x 418/Liner.jpg",
      alt: "Liner Laminate",
    },
    {
      name: "Soffitto Panels",
      link: "/products/page/SOFFITTO",
      img: "/images/product-category/Soffitto/371 x 418/Soffitto Banner.jpg",
      alt: "Soffitto Panels",
    },
    {
      name: "Exterior Cladding",
      link: "/products/page/SOFFITTO",
      img: "/images/product-category/cladding/371 x 418/Exterior Cladding.jpg",
      alt: "Exterior Cladding",
    },
    {
      name: "Baffel",
      link: "/products/page/SOFFITTO",
      img: "/images/product-category/baffel/371 X 418/Baffel.jpg",
      alt: "Baffel",
    },
    {
      name: "SKYDECOR ADHESIVE",
      link: "/products/page/SOFFITTO",
      img: "/images/product-category/skybond/371 x 418/SKYDECOR ADHESIVE BANNER.jpg",
      alt: "SKYDECOR ADHESIVE",
    },
  ]; 
%>

<section class="rooms1 bg-cream pt-100" data-scroll-index="1">
  <div class="container">
    <!-- Heading -->
    <div class="row text-center mb-4">
      <div class="welcome-content text-center">
        <h1 style="text-transform: uppercase">Our Product Range</h1>
      </div>
    </div>

    <!-- Product Category Grid -->
    <div class="row g-4">
      <% productRange.forEach(product => { %>
        <div class="col-md-4 col-lg-4 col-sm-6">
          <div class="item shadow-sm rounded overflow-hidden">
            <div class="position-re o-hidden">
              <img
                src="<%= product.img %>"
                alt="<%= product.alt %>"
                class="img-fluid"
                loading="lazy"
                decoding="async"
                width="371"
                height="418"
              />
            </div>
            <div class="con text-center">
              <h5><a href="<%= product.link %>"><%= product.name %></a></h5>
              <div class="line mx-auto"></div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</section>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("img[loading='lazy']").forEach(img => {
      img.classList.add("fade-in");
      img.addEventListener("load", () => img.classList.add("loaded"));
    });
  });
</script>
