<section class="rooms1 bg-cream pt-100" data-scroll-index="1">
  <div class="container">
    <!-- Heading -->
    <div class="row text-center mb-4">
      <div class="welcome-content text-center">
        <h1 style="text-transform: uppercase">Our Product Range</h1>
      </div>
    </div>

    <!-- Product Category Grid -->
    <div class="row g-4">

      <!-- 1MM Laminates -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/1mm/371 X 418/1MM.jpg"
              alt="1 MM + Laminates"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/1mm">1 MM + Laminates</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- 0.8MM Laminates -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/0.8mm/371 X 418/0.8MM.jpg"
              alt="0.8MM Laminates"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/0.8mm">0.8MM Laminates</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- Acrylish -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/acrylish/371 X 418/Acrylic.jpg"
              alt="Acrylish Laminate"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/Acrylish">Acrylish Laminate</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- FR FLEXI Laminate -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/fr-flexi/371 X 418/FR FLEXI.jpg"
              alt="FR FLEXI Laminate"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/PVC">FR FLEXI Laminate</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- Liner Laminate -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/liner/371 x 418/Liner.jpg"
              alt="Liner Laminate"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/liner">Liner Laminate</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- Soffitto Panels -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/Soffitto/371 x 418/Soffitto Banner.jpg"
              alt="Soffitto Panels"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/SOFFITTO">Soffitto Panels</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- Exterior Cladding -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/cladding/371 x 418/Exterior Cladding.jpg"
              alt="Exterior Cladding"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <span class="category"><a href="/api/product/SOFFITTO">Detail</a></span>
          <div class="con text-center">
            <h5><a href="/api/product/SOFFITTO">Exterior Cladding</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- Baffel -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/baffel/371 X 418/Baffel.jpg"
              alt="Baffel"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <div class="con text-center">
            <h5><a href="/api/product/SOFFITTO">Baffel</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>

      <!-- SKYDECOR ADHESIVE -->
      <div class="col-md-4 col-lg-4 col-sm-6">
        <div class="item shadow-sm rounded overflow-hidden">
          <div class="position-re o-hidden">
            <img
              src="/images/product-category/skybond/371 x 418/SKYDECOR ADHESIVE BANNER.jpg"
              alt="SKYDECOR ADHESIVE"
              class="img-fluid"
              loading="lazy"
              decoding="async"
              width="371"
              height="418"
            />
          </div>
          <span class="category"><a href="/api/product/SOFFITTO">Detail</a></span>
          <div class="con text-center">
            <h5><a href="/api/product/SOFFITTO">SKYDECOR ADHESIVE</a></h5>
            <div class="line mx-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("img[loading='lazy']").forEach(img => {
      img.classList.add("fade-in");
      img.addEventListener("load", () => img.classList.add("loaded"));
    });
  });
</script>
