<section class="rooms1 bg-cream pt-100" data-scroll-index="1">
    <div class="container">
        <div class="row text-center">
            <div class="welcome-content text-center">
                <h1 style="text-transform: uppercase">Our Product Range</h1>
            </div>
        </div>
        <div class="row">
            <!-- Repeat this block for each category -->

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/1mm/371 X 418/1MM.jpg" alt="1 MM + Laminates"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/1mm">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/1mm">1 MM + Laminates</a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 ">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/0.8mm/371 X 418/0.8MM.jpg" alt="0.8MM Laminates"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/0.8mm">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/0.8mm"> 0.8MM Laminates</a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6 ">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/acrylish/371 X 418/Acrylic.jpg" alt="Acrylish Laminate"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/Acrylish">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/Acrylish"> Acrylish Laminate </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/fr-flexi/371 X 418/FR FLEXI.jpg" alt="PVC Laminate"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/PVC">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/PVC"> FR FLEXI Laminate </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/liner/371 x 418/Liner.jpg" alt="Liner Laminate"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/liner">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/liner"> Liner Laminate </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/Soffitto/371 x 418/Soffitto Banner.jpg"
                            alt="Soffitto Laminate" class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/SOFFITTO">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/SOFFITTO"> Soffitto Laminate </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/cladding/371 x 418/Exterior Cladding.jpg"
                            alt="Soffitto Laminate" class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/SOFFITTO">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/SOFFITTO"> Exterior Cladding </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/baffel/371 X 418/Baffel.jpg" alt="Soffitto Laminate"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/SOFFITTO">Detail</a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/SOFFITTO"> Baffel </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>


             <div class="col-md-4 col-lg-4 col-sm-6">
                <div class="item">
                    <div class="position-re o-hidden">
                        <img src="/images/product-category/skybond/371 x 418/SKYDECOR ADHESIVE BANNER.jpg" alt="Soffitto Laminate"
                            class="img-fluid" />
                    </div>
                    <span class="category">
                        <a href="/api/product/SOFFITTO">Detail </a>
                    </span>
                    <div class="con">
                        <h5>
                            <a href="/api/product/SOFFITTO"> SKYDECOR ADHESIVE </a>
                        </h5>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>