<!-------------Dektop--------------->

<div class="slider-area only-desktop">
  <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
      style="background-image: url(/images/banner/desktop/hero-banner/1mm.jpg); background-size: contain; background-repeat: no-repeat;">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/desktop/hero-banner/acrylicsh.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/desktop/hero-banner/fr-flexi.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/desktop/hero-banner/soffitto.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------tablet--------------->

<div class="slider-area only-tablet">
  <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
      style="background-image: url(/images/banner/tablet/hero-banner/1mm.jpg); background-size: contain; background-repeat: no-repeat;">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/tablet/hero-banner/acrylicsh.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/tablet/hero-banner/fr-flexi.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/tablet/hero-banner/soffitto.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------Moible--------------->
<div class="slider-area only-mobile">
  <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
      style="background-image: url(/images/banner/mobile/hero-banner/1mm.jpg) ; background-size: contain; background-repeat: no-repeat;">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/mobile/hero-banner/acrylicsh.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/mobile/hero-banner/fr-flexi.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>

    <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="
        background-image: url(/images/banner/mobile/hero-banner/soffitto.jpg); background-size: contain; background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>